@model List<Customer>

@{
    ViewData["Title"] = "CustomerDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br>
<br>
<h2 class="d-inline">Customer Details</h2>

<table class="table mt-4 table-bordered border-dark ">
    <thead class="table-dark">
        <tr>
            <th>CustomerName</th>
            <th>Date Of Birth</th>
            <th>Address</th>
            <th>City</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>AccountNumber</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.PhoneNo</td>
                <td>@item.Email</td>
                <td>@item.AccountNumber</td>

                <td>
                    <a asp-controller="Admin" asp-action="CreateUpdateCustomer" asp-route-id="@item.CustomerId" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                    <a asp-controller="Admin" asp-action="DeleteCustomer" asp-route-id="@item.CustomerId" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();
        }
    </script>
}