@model List<OnlineBanking.Models.TransactionModel>

@{
    ViewData["Title"] = "TransactionHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br>
<br>
<h2>TransactionHistory</h2>



<table class="table mt-4 table-bordered border-dark ">
    <thead class="table-dark">
        <tr>
            <th>TransactionType</th>
            <th>Description</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>DateOfTransaction</th>
            <th>AccountNumber</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransferAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfTransaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAccountNumber)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();
        }
    </script>
}