@model List<OnlineBanking.Models.TransactionModel>

@{
    ViewData["Title"] = "TransactionHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br>
<br>
<h2>TransactionHistory</h2>



<table class="table mt-4 table-bordered border-dark ">
    <thead class="table-dark">
        <tr class="row">
            <td class="col-2">Account</td>
            <td class="col-2">Description</td>
            <td class="col-2">Transaction Type</td>
            <td class="col-2">Amount</td>
            <td class="col-4">DateOfTransaction</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row">
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.FromAccountNumber)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.TransferAmount)
                </td>
                <td class="col-4">
                    @Html.DisplayFor(modelItem => item.DateOfTransaction)
                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();
        }
    </script>
}