@model List<OnlineBanking.Models.TransactionModel>

@{
    ViewData["Title"] = "CustomerTransactionsById";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<h2>Customer Transactions</h2>
<br >

<h4> <b>Acccount Number: </b>@Model[0].FromAccountNumber </h4>
<br>
<br>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">TransactionType</th>
            <th scope="col">Description</th>
            <th scope="col">TransferAmount</th>
            <th scope="col">DateOfTransaction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransferAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfTransaction)
                </td>
            </tr>
        }
    </tbody>
</table>
